@import '../constants.scss';

.chapter_list_header {
  position: relative;
  display: flex;
  background: #ffffff;
  padding: 12px 8px;
  &.active {
    background: #e8e8e8;
  }
  &:hover {
    .editor_indicator {
      display: block;
      transition: all 1s;
    }
  }
}

.editor_indicator {
  position: absolute;
  right: 8px;
  top: 12px;
  display: none;
  cursor: pointer;
}

.title {
  font-weight: 600;
  display: inline-block;
}

.icon {
  padding: 4px 4px 0;
  color: $textColor;
}

.content {
  padding: 0 8px;
  .title{
    color: #333333;
    font-weight: 600;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
  .desc {
    color: #8e8e8e;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    height: 3em;
  }
  .footer {
    color: #7dccc5;
    font-size: .8em;
  }
}