@import '../constants.scss';

.chapter_list_item {
  display: flex;
  background: #ffffff;
  padding: 12px 0;
  &.active {
    background: #e8e8e8;
  }
}

.icon {
  padding: 4px 4px 0;
  color: $textColor;
}

.content {
  padding: 0 8px;
  .title{
    color: #333333;
    font-weight: 600;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
  .desc {
    color: #8e8e8e;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .footer {
    color: #7dccc5;
  }
}